$black: #010101;
$gray: rgba(255, 255, 255, 0.1);
$yellow: #FFD700; // Jaune Porsche
$yellow-hover: #E6B800; // Variante foncée du jaune Porsche
$gentiane-blue: #0C2C84; // Bleu Gentiane Porsche
$indian-red: #D21F1B; // Rouge Indien Porsche
$indian-red-hover: #B71C17; // Rouge Indien foncé pour hover
$carrara-white: #ECECE7; // Blanc Carrara Porsche

$white: #ffffff;
$gray-light: #f5f5f5;
$gray-mid: #f0f2f5;
$gray-border: rgba(0, 0, 0, 0.08);
$gray-border-strong: rgba(0, 0, 0, 0.16);

$font-title: 'Bebas Neue', sans-serif;
$font-text: 'Roboto', sans-serif;
$font-cta: 'Playfair Display', serif;
$font-porsche: '911 Porscha';
$cta-size: 14px; // Ajuste la valeur selon ton design
$breakpoint-mobile: 480px;
$breakpoint-tablet: 821px;
$breakpoint-desktop: 1025px;